body{
    zoom: 1.75;
    background-color: gray;
}
.ratio-box{
    padding-top: 3%;
}
.ratio-box-row{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}
.xp-input{
    display: flex;
    justify-content: center;
}
.xp-input-box{
    position: relative;
    top: 2ch;
    height: 2ch;
}
input{
    width: 5ch;
    margin-bottom: 7px;
    margin-left: 3px;
    background-color: ghostwhite;
}
.lvl-input{
    display: flex;
    padding-right: 10px;
}
img{
    width: 20px;
    height: 20px;
}
p{
    display: flex;
    justify-content: center;
}
button{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    zoom: 0.5; 
}
.ratio-text{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: x-small;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
