body{
    zoom: 1.75;
    background-color: gray;
}
.ratio-box{
    padding-top: 3%;
}
.ratio-box-row{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}
.xp-input{
    display: flex;
    justify-content: center;
}
.xp-input-box{
    position: relative;
    top: 2ch;
    height: 2ch;
}
input{
    width: 5ch;
    margin-bottom: 7px;
    margin-left: 3px;
    background-color: ghostwhite;
}
.lvl-input{
    display: flex;
    padding-right: 10px;
}
img{
    width: 20px;
    height: 20px;
}
p{
    display: flex;
    justify-content: center;
}
